body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    gap: 12px;
}

#display {
    display: flex;
    height: 15%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: end;
    align-items: end;    
    font-size: 35px;
}

#ac {
   margin: 0px;
   font-weight: 700;
   font-size: large;
}

#numbers {
    margin: 0px;
}

#squareContainer {
    display: flex;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: large;
    
}

